@charset "utf-8";

body{
    display: flex;
    flex-direction: column;
    background-image: url(https://cutewallpaper.org/27/black-and-grey-sticker-bomb-wallpaper/103083884.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    text-align: center;
    color: #000;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#calculator{
    max-width: 360px;
    background-color: #000000ab;
    border-radius: 13px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19);
    background-image: url(https://c0.wallpaperflare.com/preview/587/286/358/board-mathematics-math-fourier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#display{
    width: 100%;
    height: 45px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    border: none;
    box-sizing: border-box; 
}
.equal{
    width: calc(50% - 10px);
}
button{
    width: calc(25% - 10px);
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    float: left;
    background-color: #000000;
    color: #bcb3b3;
    box-shadow: 3px 3px 5px #616161be;
}
#ac{
    background-color: #ec2a2a;
    color: #000;
}
#ac:hover{
    background-color: #ff0000;
}
.operator{
    color: #000;
    background-color: #ccc;
}
button:hover{
    cursor: pointer;
    background-color: #fff;
}
button:active{
    transform: scale(0.9);
    box-shadow: none;
}
footer{
    font-family: "poppins", sans-serif, monospace;
    margin: 45px 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 45px;
    text-align: center;
}
footer h1{
    
}