@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Great+Vibes & family= Poppins:wght@500 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    background-image: url(https://cutewallpaper.org/27/black-and-grey-sticker-bomb-wallpaper/103083884.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}
.calculator{
    position: absolute;
    background-color: #000000f3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
.btn{
    width: calc(25% - 10px);
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    float: left;
    background-color: #cfc6c6ce;
    color: #000000;
    box-shadow: 3px 3px 5px #585757;
    cursor: pointer;
}
.ac{
    background-color: #f32d2dea;
    font-weight: 500;
    font-family: 'Poppins', sans-serif, monospace;
}
.operator{
    background-color: #ecec3b;
}
.bksp{
    background-color: #ecec3b;
}
.equal{
    background-color: #f32d2dea;
}
.duble-zero{
    width: calc(50% - 10px);
}
.btn:hover{
    background-color: #fff;
}
.btn:active{
    transform: scale(0.9);
}
.operator:hover{
    background-color: #ffff00;
}
.equal:hover{
    background-color: #ff0000;
}
.ac:hover{
    background-color: #ff0000;
}
.bksp:hover{
    background-color: #ffff00;
}
#display{
    background-color: #000000;
    border-radius: 5px;
    width: 207px;
    height: 40px;
    margin: 5px;
    text-align: right;
    color: #fff;
    padding: 5px;
    font-size: 25px;
    border: 1px solid #ccc;
}